@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    
  --primary: #1c9cd8;
  --secondary: #4d4d4f;

  --profile-grad-start: #222289;
  --profile-grad-end: #1c9cd8;

  --profile-title: rgba(217, 217, 217, 0.62); /* D9D9D9 a 62% */

  --level-bg: #eff6ff;        /* pill fundo */
  --level-text: #1447e6;      /* texto */
  --level-icon: #155dfc;      /* ícone */

  --interest-bg: rgba(224, 231, 255, 0.20); /* E0E7FF a 20% */
  --interest-text: #222289;                 /* texto cards */
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #1c9cd8;
    --secondary: #4d4d4f;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    font-size: var(--text-3xl);
    font-weight: bold;
  }
  h2 {
    font-size: var(--text-2xl);
    font-weight: 550;
    padding-bottom: 1em;
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: 500;
  }
  mark {
    background-color: #1c9cd8;
    color: #ffffff;
    padding: 0 1em;
  }
}
