@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --primary: #1c9cd8;
    --secondary: #4d4d4f;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  h1 {
    font-size: var(--text-3xl);
    font-weight: bold;
  }
  h2 {
    font-size: var(--text-2xl);
    font-weight: 550;
    padding-bottom: 1em;
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: 500;
  }
  mark {
    background-color: #1c9cd8;
    color: #ffffff;
    padding: 0 1em;
  }
}
